// $primary-color: red;
// $secondary-color: blue;

$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$primary-color: #0e1eff;
$secondary-color: #ff8700;
$tertiary-color: #9ba1ff;

$primary-background: #ffffff;
// $secondary-background: #bdc3c7;
$secondary-background: rgb(242, 242, 242);