$primary-color: #0263e0;
$secondary-color: #f22f46;
$movie-color: lighten(#40739e, 50%);

$primary-background: #ffffff;

$whiteboard-lg-padding-y: 30px;
$whiteboard-sm_margin-bottom_not-last-child_with-lg-direct-parent: 50px;