@import '../../utilities';

.Home {
  text-align: center;
  a:hover {
    color: yellow;
  }

  &-wb1-slide-down {
    &-appear {
      transform: translateY(calc(-100% - #{$whiteboard-lg-padding-y}));
  
      &-active {
        transform: translateY(0);
        // duration, then delay
        // don't like having to hardcode these numbers here though...
          // maybe define classes in js to utilize props passed down...
        transition: transform 1000ms 1000ms;
      }
  
      &-done {
        margin-bottom: $whiteboard-lg-padding-y;
        opacity: 1;
        color: red
      }
    }
  }

  &-wb2-slide-down {
    // Second board starts under where 1st board will end up, but it starts hidden.
    // Immediately after top board finishes animation and is covering second board,
    // then reveal second board and start its downwards transition
    &-appear {
      transform: translateY(calc(-100% - #{$whiteboard-sm_margin-bottom_not-last-child_with-lg-direct-parent}));
      opacity: 0;
      &-active {
        opacity: 1;
        transform: translateY(0);
        transition: transform 1000ms 2000ms, opacity 0s 2s;  // don't like having to hardcode delay here...
      }
  
      &-done {
        opacity: 1;
        color: red
      }
    }
  }
        // &-enter {
    //   opacity: 0;
  
    //   &-active {
    //     opacity: 1;
    //     transform: opacity 3000ms;
    //   }
  
    //   &-done {
    //     opacity: 1;
    //   }
    // }

}



// .Home {
//   // padding: 50px 0;
//   color: black;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   flex: 1 1 0;  // to push footer down
//   h1 {
//     // font-size: 60px;
//   }
//   h2 {
//     font-size: 40px;
//   }
//   h3 {
//     font-size: 30px;
//   }

//   &-description {
//     text-align: center;
//   }
// }


// #wb-1 {
//   z-index: 2;
//   transform: translateY(200px);
//   transition: 1s ease-in;
// }
// #wb-1:hover {
//   transform: translateY(0px);
// }
// #wb-2 {
//   z-index: 1;
//   transform: translateY(-250px);
//   transition: transform 1s ease-in;
// }

// #wb-2:hover {
//   transform: translateY(0px);
// }

// #wb-3 {
//   transform: translateX(0px);
//   transition: transform 1s ease-in;
// }

// #wb-3:hover {
//   transform: translateX(-200px);
// }

// #wbh-2 {
//   transform: translateY(0);
//   transition: transform 2s ease-in;
// }

// #wbh-2:hover {
//   transform: translateY(-500px)
// }

// @include media-breakpoint-down(md) {
//   .Home-whiteboard-container {
//     width: 600px;
//   }
// }
// @include media-breakpoint-down(sm) {
//   .Home-whiteboard-container {
//     width: calc(100vw - 20px);
//   }
// }