@import '../../utilities';

.Home {
  a:hover {
    color: yellow;
  }
}

// .Home {
//   // padding: 50px 0;
//   color: black;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   flex: 1 1 0;  // to push footer down
//   h1 {
//     // font-size: 60px;
//   }
//   h2 {
//     font-size: 40px;
//   }
//   h3 {
//     font-size: 30px;
//   }

//   &-description {
//     text-align: center;
//   }
// }


// #wb-1 {
//   z-index: 2;
//   transform: translateY(200px);
//   transition: 1s ease-in;
// }
// #wb-1:hover {
//   transform: translateY(0px);
// }
// #wb-2 {
//   z-index: 1;
//   transform: translateY(-250px);
//   transition: transform 1s ease-in;
// }

// #wb-2:hover {
//   transform: translateY(0px);
// }

// #wb-3 {
//   transform: translateX(0px);
//   transition: transform 1s ease-in;
// }

// #wb-3:hover {
//   transform: translateX(-200px);
// }

// #wbh-2 {
//   transform: translateY(0);
//   transition: transform 2s ease-in;
// }

// #wbh-2:hover {
//   transform: translateY(-500px)
// }

@include media-breakpoint-down(md) {
  .Home-whiteboard-container {
    width: 600px;
  }
}
@include media-breakpoint-down(sm) {
  .Home-whiteboard-container {
    width: calc(100vw - 20px);
  }
}