@import '../../utilities';

.Home {
  // padding: 50px 0;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;  // to push footer down
  h1 {
    // font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }

  &-description {
    text-align: center;
  }

  &-whiteboard-container {
    width: 900px;
    padding: 30px 0px;
    // background: red;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    // height: 100%;  // I think doesn't work b/c parent's height is dynamically determined...?
    flex: 1 1 0;
    // border: 10px solid gray;
    position: relative;
    // border-right: 10px solid lighten(silver, 5%);
    // border-left: 10px solid lighten(silver, 5%);
    // border-top: 10px solid darken(silver, 5%);
    // border-bottom: 10px solid darken(silver, 5%);
    // box-shadow: inset 0 0 15px black;
    // pointer-events: none;
  }
  // need ::after on wb-container to get inset box-shadow over inner white boards
  // sizing is weird though, feels hacky. ::after height 100% isn't right, doesn't include borders...
  &-whiteboard-container::after {
    z-index: 100;
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: calc(100% + 20px);
    border-right: 10px solid lighten(silver, 5%);
    border-left: 10px solid lighten(silver, 5%);
    border-top: 10px solid darken(silver, 5%);
    border-bottom: 10px solid darken(silver, 5%);
    box-shadow: 0 0 10px black, 
                inset 0 0 5px black;
    pointer-events: none; // allows elements underneath (w/ lower z-index) to be hovered/clicked
  }

  // &-whiteboard-container {
  //   transform: translateX(0px);
  //   transition: transform 2s ease-in;
  // }

  // &-whiteboard-container:hover {
  //   transform: translateX(500px);
  // }

  &-whiteboard-container-horizontal {
    // margin-top: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: none;
    // align-self: stretch;
    // flex: 1 1 auto;
    width: 900px;
  }

  &-whiteboard-container-horizontal:not(:nth-of-type(1)) {
    margin-top: 20px;
  }

  &-whiteboard-container-horizontal::after {
    z-index: 100;
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    height: calc(100% + 9px);
    width: calc(100%);
    border-top: 5px solid darken(silver, 5%);
    border-bottom: 5px solid darken(silver, 5%);
    box-shadow: 0 0 4px black, 
                inset 0px 0px 7px black;
    pointer-events: none; // allows elements underneath (w/ lower z-index) to be hovered/clicked
  }
  // Make Odd boards seem higher than even boards
  &-whiteboard-container-horizontal:nth-of-type(2n+1) {
    z-index: 10;
    box-shadow: 0 0 10px 1px black, 
                inset 0 0 7px black;
  }
  &-whiteboard-container-horizontal:nth-of-type(2n)::after {
    border-top: 5px solid darken(silver, 15%);
    border-bottom: 5px solid darken(silver, 15%);
    box-shadow: 0 0 4px black, 
                inset 0px 0px 13px black;
    pointer-events: none; // allows elements underneath (w/ lower z-index) to be hovered/clicked
  }


  &-whiteboard {
    cursor: pointer;  // for testing purposes
    background: white;
    // margin-top: 30px;
    // margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex: 1 1 0;
    // max-width: 600px;
    min-width: 300px;
    // width: 400px;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    box-shadow: inset 0 0 2px rgba(0,0,0, 1),
                0 0 15px black;
  }
  //Using ::after and ::before to create wedges on corners, and utilizing box-shadow as
  // border. Border-image was rough to deal with- avoiding for now.
  // ::before -> side borders
  &-whiteboard::before {
    content: '';
    position: absolute;
    // z-index: 200;
    height: calc(100% - 5px); // to get corner wedge accentuated
    // height: calc(100%); // to get corner wedge accentuated
    width: 100%;  //based on content-width, not border...why???
    box-shadow: 
      2px 0 silver, 4px 0 gray, 6px 0 silver, 8px 0 gray, 10px 0 silver,
      -2px 0 silver, -4px 0 gray, -6px 0 silver, -8px 0 gray, -10px 0 silver;
  }
  // :: after -> top/bottom borders
  &-whiteboard::after {
    content: '';
    position: absolute;
    height: 100%;
    width: calc(100% - 5px);
    box-shadow: 
      0 2px silver, 0 4px gray, 0 6px silver, 0 8px gray, 0 10px silver,
      0 -2px silver, 0 -4px gray, 0 -6px silver, 0 -8px gray, 0 -10px silver;
  }
}


// #wb-1 {
//   z-index: 2;
//   transform: translateY(200px);
//   transition: 1s ease-in;
// }
// #wb-1:hover {
//   transform: translateY(0px);
// }
// #wb-2 {
//   z-index: 1;
//   transform: translateY(-250px);
//   transition: transform 1s ease-in;
// }

// #wb-2:hover {
//   transform: translateY(0px);
// }

#wb-3 {
  transform: translateX(0px);
  transition: transform 1s ease-in;
}

#wb-3:hover {
  transform: translateX(-200px);
}

#wbh-2 {
  transform: translateY(0);
  transition: transform 2s ease-in;
}

#wbh-2:hover {
  transform: translateY(-500px)
}

@include media-breakpoint-down(md) {
  .Home-whiteboard-container {
    width: 600px;
  }
}
@include media-breakpoint-down(sm) {
  .Home-whiteboard-container {
    width: calc(100vw - 20px);
  }
}