@import '../../utilities';

.Footer {
  display: flex;
  align-items: center;
  height: 40px;
  text-align: center;

  & > :first-child {
    margin-right: auto;
  }

  &-link-container {
    height: 100%;
    padding: 0 10px;
  }

  &-link {
    display: flex;
    height: 100%;
    width: 60px;
    color: white;
    background: blue;
    transition: transform .2s;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

    & svg {
      height: 100%;
      // transform: scale(1.13);
      transform: scale(.8);
    }
  }

  // &-link-icon {
  //   height: 100%;
  //   // width: 100%;
  //   transform: scale(1.13); //to make github icon look flush...
  // }
  &-link:hover {
    // transform: scale(1.1) translateY(-2px);
    transform: scale(1.1);
  }

  
}

#copyright {
  letter-spacing: 1px;
  text-shadow: 0px 1px 0px lighten(#ceab86, 10%), 
                0px -1px 0px darken(#ceab86, 30%),
                1px 0 0px darken(#ceab86, 20%),
                // -2px 0 0px lighten(#ceab86, 5%),

                ;
  color: darken(#ceab86, 90%);
  font-weight: 600;

  // text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

@include media-breakpoint-down(xs) {
  .Footer {
    min-height: 30px;

    &-link {
      width: 30px;

      & svg {
        height: 70%;
      }
    }

    #copyright {
      font-size: 12px;
    }
  }

}