@import '../../utilities';

.ProjectorScreen {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  // min-height: 100px;
  max-height: 300px;
  width: 80%;
  min-width: 240px;
  max-width: 400px;
  // min-width: 250px;
  // max-width: 350px;
  flex: 1 0 0;
  // align-self: stretch;
  // justify-self: stretch;
  background-color: #bddef4;

  &-countdown {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  &#{&}-preloading {
    background-color: black;
    opacity: 0;
  }

  &#{&}-loading {
    // wanted to pass in duration in JS, but complicated...
    // really timer is 3-5s, but end part of opacity change all looks the same...
    animation: transition-to-opaque 7s forwards; 
  }

  &#{&}-loaded {
    opacity: 1;
    background-color: rgba(36, 36, 36, 0.687);
    // transform: scale(0);
    // animation: to-scale-100 5s forwards;
  }


  &-frame {
    position: absolute;
    height: 50%;
    width: 20%;
  }

  &-frame-tr {
    top: 0;
    right: 0;
    border-top: 5px solid #003540;
    border-right: 5px solid #003540;
  }

  &-frame-bl {
    bottom: 0;
    left: 0;
    border-left: 5px solid #003540;
    border-bottom: 5px solid #003540;
  }
}

@keyframes transition-to-opaque {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


// Toying with cool transtion once projector loaded...
// but way too complicated and end up having to animate non transform/opacity properties
// .ProjectorScreen-frame-bl {
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   animation: frame-to-bottom-left 5s forwards;
// }

// .ProjectorScreen-frame-tr {
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   animation: frame-to-top-right 5s forwards;
// }


// @keyframes to-scale-100 {
//   to {
//     transform: scale(1);
//   }
// }

// @keyframes frame-to-top-right {
//   to {
//     top: 0%;
//     left: 80%;
//     transform: translate(0,0);
//   }
// }

// @keyframes frame-to-bottom-left {
//   to {
//     bottom: 0;
//     left: 0;
//     transform: translate(0,0);
//   }
// }

// .rowOuterWrapper {
//   display: flex;
//   flex-direction: column;
// }

// .rowWrapper {
//   display: flex;
//   justify-content: space-evenly;
//   align-self: stretch;
//   flex: 1 1 0;
// }

// .tbWrapper {
//   height: 200px;
//   transform: scaleY(1);
//   animation: scale-y-to-0 5s forwards;
// }

// .rlWrapper {
//   width: 300px;
//   transform: scaleX(1);
//   animation: scale-x-to-0 5s forwards;
// }

// .ProjectorScreen.ProjectorScreen-loaded {
//   flex: 1 1 0;
//   min-width: 120px;
// }

// @keyframes scale-x-to-0 {
//   to {
//     // transform: scaleX(0);
//     width: 0;
//   }
// }
// @keyframes scale-y-to-0 {
//   to {
//     // transform: scaleY(0);
//     height: 0;
//   }
// }